In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

Preprocessing of Crime data

In [2]:
Crime_data = pd.read_csv("DMQL DATA/Crime.csv")
Crime_data.head()

,report_no,case_number,date,block,iucr_no,location_description,arrest,domestic,beat,district_no,ward_no,community_area_no,fbi_code_no,latitude,longitude
0,11614220,JC174738,3/1/2019 14:00,052XX W CRYSTAL ST,1152,OTHER,False,False,2532,25,37.0,25,11,NaN,NaN
1,11616238,JC176798,1/11/2019 15:30,029XX N LAKE SHORE DR,1130,RESIDENCE,False,False,1934,19,44.0,6,11,NaN,NaN
2,11617189,JC177948,2/20/2019 13:30,005XX W WELLINGTON AVE,890,APARTMENT,False,False,1934,19,44.0,6,6,NaN,NaN
3,11554513,JC101543,1/1/2019 22:55,038XX N OAKLEY AVE,880,STREET,False,False,1921,19,47.0,5,6,NaN,NaN
4,11556037,JC103643,1/3/2019 19:20,0000X W RWY 27R,2890,AIRCRAFT,False,False,1654,16,41.0,76,26,42.002816,-87.906094

In [3]:
# checking the data type info
Crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259035 entries, 0 to 259034
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   report_no             259035 non-null  int64
 1   case_number           259035 non-null  object
 2   date                  259035 non-null  object
 3   block                 259035 non-null  object
 4   iucr_no               259035 non-null  object
 5   location_description  257988 non-null  object
 6   arrest                259035 non-null  bool
 7   domestic              259035 non-null  bool
 8   beat                  259035 non-null  int64
 9   district_no           259035 non-null  int64
 10  ward_no               259020 non-null  float64
 11  community_area_no     259035 non-null  int64
 12  fbi_code_no           259035 non-null  object
 13  latitude              257887 non-null  float64
 14  longitude             257887 non-null  float64
dtypes: bool(2), float64(3), int64(4), object(6)
memory usage: 26.2+ MB

In [4]:
# checking for null values
print(Crime_data.shape)
Crime_data.isna().sum()

(259035, 15)

report_no                  0
case_number                0
date                       0
block                      0
iucr_no                    0
location_description    1047
arrest                     0
domestic                   0
beat                       0
district_no                0
ward_no                   15
community_area_no          0
fbi_code_no                0
latitude                1148
longitude               1148
dtype: int64

In [5]:
# Analysing attributes
Crime_data['arrest'].value_counts()
Crime_data['domestic'].value_counts()

domestic
False    215991
True      43044
Name: count, dtype: int64

In [6]:
# Convert 'ward_no' to nullable integer type (Int64)
Crime_data['ward_no'] = Crime_data['ward_no'].astype('Int64')

# Verify the conversion
print(Crime_data['ward_no'].dtypes)

Int64

In [7]:
Crime_data.to_csv("DMQL DATA/Crime_data_cleaned.csv", index=False)

Preprocessing of FBI_Code_data

In [8]:
FBI_Code_data = pd.read_csv("DMQL DATA/FBI_Code.CSV")
FBI_Code_data.head()

,fbi_code_no,title,description,crime_against
0,01A,Homicide 1st & 2nd Degree,The killing of one human being by another.,Persons
1,01B,Involuntary Manslaughter,The killing of another person through negligence.,Persons
2,2,Criminal Sexual Assault,Any sexual act directed against another person...,Persons
3,3,Robbery,The taking or attempting to take anything of v...,Property
4,04A,Aggravated Assault,An unlawful attack by one person upon another ...,Persons

In [9]:
FBI_Code_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fbi_code_no    26 non-null     object
 1   title          26 non-null     object
 2   description    26 non-null     object
 3   crime_against  26 non-null     object
dtypes: object(4)
memory usage: 964.0+ bytes

In [10]:
FBI_Code_data.isna().sum()

fbi_code_no      0
title            0
description      0
crime_against    0
dtype: int64

Preprocessing of Community Area

In [11]:
CA_data = pd.read_csv("DMQL DATA/Community_Area.csv")
CA_data.head()

   community_area_no community_area_name            side population
0                  1         Rogers Park  Far North Side     54,991
1                  2          West Ridge  Far North Side     71,942
2                  3              Uptown  Far North Side     56,362
3                  4      Lincoln Square  Far North Side     39,493
4                  5        North Center      North Side     31,867

In [12]:
# Remove commas from the 'numbers' column
CA_data['population'] = CA_data['population'].str.replace(',', '', regex=False)
# Convert to integer type if needed
CA_data['population'] = CA_data['population'].astype(int)

In [13]:
CA_data['side'].value_counts()

side
Far North Side        12
South Side            12
Far Southeast Side    12
Southwest Side        12
West Side              9
Northwest Side         6
Far Southwest Side     6
North Side             5
Central                3
Name: count, dtype: int64

In [14]:
CA_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   community_area_no    77 non-null     int64
 1   community_area_name  77 non-null     object
 2   side                 77 non-null     object
 3   population           77 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.5+ KB

In [15]:
CA_data.isna().sum()

community_area_no      0
community_area_name    0
side                   0
population             0
dtype: int64

In [16]:
# loading the data to csv for further use
CA_data.to_csv('DMQL DATA/Community_Area_Cleaned.csv', index=False)

Preprocessing the district data

In [17]:
Dist_data = pd.read_csv("DMQL DATA/District.csv")
Dist_data.head()

,district_no,district_name,address,zip_code,commander,email,phone,fax,tty,twitter
0,1,Central,1718 South State Street,60616,Jake M. Alderden,CAPS001District@chicagopolice.org,312-745-4290,312-745-3694,312-745-3693,ChicagoCAPS01
1,4,South Chicago,2255 East 103rd St,60617,Robert A. Rubio,caps.004district@chicagopolice.org,312-747-8205,312-747-4559,312-747-9169,ChicagoCAPS04
2,5,Calumet,727 East 111th St,60628,Glenn White,CAPS005District@chicagopolice.org,312-747-8210,312-747-5935,312-747-9170,ChicagoCAPS05
3,6,Gresham,7808 South Halsted Street,60620,Rahman S. Muhammad,CAPS006District@chicagopolice.org,312-745-3610,312-745-3649,312-745-3639,ChicagoCAPS06
4,7,Englewood,1438 W. 63rd Street,60636,Larry Snelling,CAPS007District@chicagopolice.org,312-747-8220,312-747-6558,312-747-6652,ChicagoCAPS07

In [18]:
Dist_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   district_no    22 non-null     int64
 1   district_name  22 non-null     object
 2   address        22 non-null     object
 3   zip_code       22 non-null     int64
 4   commander      22 non-null     object
 5   email          22 non-null     object
 6   phone          22 non-null     object
 7   fax            22 non-null     object
 8   tty            21 non-null     object
 9   twitter        22 non-null     object
dtypes: int64(2), object(8)
memory usage: 1.8+ KB

In [19]:
Dist_data.isna().sum()

district_no      0
district_name    0
address          0
zip_code         0
commander        0
email            0
phone            0
fax              0
tty              1
twitter          0
dtype: int64

In [20]:
Dist_data['tty'].value_counts(dropna=False)

tty
312-745-3693    1
312-747-9169    1
312-747-9170    1
312-745-3639    1
312-747-6652    1
312-747-6656    1
312-747-9168    1
312-747-8116    1
312-747-9172    1
312-747-7471    1
312-746-5151    1
312-746-9868    1
NaN             1
312-743-1485    1
312-742-4423    1
312-742-5451    1
312-742-5773    1
312-744-8011    1
312-742-8841    1
312-745-0569    1
312-744-7603    1
312-746-8383    1
Name: count, dtype: int64

In [21]:
Dist_data.to_csv('DMQL DATA/District_Cleaned.csv', index=False)

Preprocessing the IUCR Data

In [22]:
IUCR_data = pd.read_csv("DMQL DATA/IUCR.csv")
IUCR_data.head()

  iucr_no primary_description      secondary_description index_code
0     110            HOMICIDE        FIRST DEGREE MURDER          I
1     130            HOMICIDE       SECOND DEGREE MURDER          I
2     141            HOMICIDE   INVOLUNTARY MANSLAUGHTER          N
3    041A             BATTERY        AGGRAVATED: HANDGUN          I
4    041B             BATTERY  AGGRAVATED: OTHER FIREARM          I

In [23]:
IUCR_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   iucr_no                401 non-null    object
 1   primary_description    401 non-null    object
 2   secondary_description  401 non-null    object
 3   index_code             401 non-null    object
dtypes: object(4)
memory usage: 12.7+ KB

In [24]:
IUCR_data.isna().sum()

iucr_no                  0
primary_description      0
secondary_description    0
index_code               0
dtype: int64

Preprocessing the Neighborhood_data

In [25]:
Neighborhood_data = pd.read_csv("DMQL DATA/Neighborhood.csv")
Neighborhood_data.head()

  neighborhood_name  community_area_no
0       Albany Park                 14
1   Altgeld Gardens                 54
2     Andersonville                 77
3    Archer Heights                 57
4     Armour Square                 34

In [26]:
Neighborhood_data.isna().sum()

neighborhood_name    0
community_area_no    0
dtype: int64

In [27]:
Neighborhood_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   neighborhood_name  246 non-null    object
 1   community_area_no  246 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.0+ KB

Preprocessing of ward_data

In [28]:
ward_data = pd.read_csv("DMQL DATA/Ward.csv")
ward_data.head()

,ward_no,alderman_first_name,alderman_last_name,alderman_name_suffix,ward_office_address,ward_office_zip,ward_email,ward_office_phone,ward_office_fax,city_hall_office_room,city_hall_office_phone,city_hall_office_fax,Population
0,1,Daniel,La Spata,NaN,1958 N. Milwaukee Ave.,60647,info@the1stward.com,872.206.2685,312.448.8829,200,NaN,NaN,56149
1,2,Brian,Hopkins,NaN,1400 N. Ashland,60622,ward02@cityofchicago.org,312.643.2299,NaN,200,312.744.6836,NaN,55805
2,3,Pat,Dowell,NaN,5046 S. State St.,60609,ward03@cityofchicago.org,773.373.9273,NaN,200,312.744.8734,312.744.6712,53039
3,4,Sophia,King,NaN,435 E. 35th Street,60616,ward04@cityofchicago.org,773.536.8103,773.536.7296,305,312.744.2690,312.744.7738,54589
4,5,Leslie,Hairston,NaN,2325 E. 71st Street,60649,ward05@cityofchicago.org,773.324.5555,773.324.1585,300,312.744.6832,312.744.3195,51455

In [29]:
print(ward_data.shape)
ward_data.info()

(50, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ward_no                 50 non-null     int64
 1   alderman_first_name     50 non-null     object
 2   alderman_last_name      50 non-null     object
 3   alderman_name_suffix    5 non-null      object
 4   ward_office_address     49 non-null     object
 5   ward_office_zip         49 non-null     object
 6   ward_email              45 non-null     object
 7   ward_office_phone       47 non-null     object
 8   ward_office_fax         22 non-null     object
 9   city_hall_office_room   50 non-null     int64
 10  city_hall_office_phone  38 non-null     object
 11  city_hall_office_fax    27 non-null     object
 12  Population              50 non-null     int64
dtypes: int64(3), object(10)
memory usage: 5.2+ KB

In [30]:
ward_data.isna().sum()

ward_no                    0
alderman_first_name        0
alderman_last_name         0
alderman_name_suffix      45
ward_office_address        1
ward_office_zip            1
ward_email                 5
ward_office_phone          3
ward_office_fax           28
city_hall_office_room      0
city_hall_office_phone    12
city_hall_office_fax      23
Population                 0
dtype: int64

In [31]:
ward_data["alderman_name_suffix"].value_counts(dropna=False)

alderman_name_suffix
NaN    45
Jr.     5
Name: count, dtype: int64

In [32]:
ward_data[ward_data['ward_office_address'].isnull()]

,ward_no,alderman_first_name,alderman_last_name,alderman_name_suffix,ward_office_address,ward_office_zip,ward_email,ward_office_phone,ward_office_fax,city_hall_office_room,city_hall_office_phone,city_hall_office_fax,Population
44,42,Brendan,Reilly,NaN,NaN,NaN,ward42@cityofchicago.org,312.642.4242,312.642.0420,200,312.744.3062,312.744.3065,55967

In [33]:
ward_data.loc[44]

ward_no                                         42
alderman_first_name                        Brendan
alderman_last_name                          Reilly
alderman_name_suffix                           NaN
ward_office_address                            NaN
ward_office_zip                                NaN
ward_email                ward42@cityofchicago.org
ward_office_phone                     312.642.4242
ward_office_fax                       312.642.0420
city_hall_office_room                          200
city_hall_office_phone                312.744.3062
city_hall_office_fax                  312.744.3065
Population                                   55967
Name: 44, dtype: object

Filling with domain link = https://www.chicago.gov/city/en/about/wards/42.html

In [34]:
ward_data.loc[44] = ward_data.loc[44].fillna({
  "alderman_name_suffix"  : "", # as most people will not have suffix
  "ward_office_zip" : "60602",
  "ward_office_address" : "121 N. LaSalle"
})

In [35]:
ward_data['alderman_name_suffix'].fillna("", inplace=True)

In [36]:
ward_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ward_no                 50 non-null     int64
 1   alderman_first_name     50 non-null     object
 2   alderman_last_name      50 non-null     object
 3   alderman_name_suffix    50 non-null     object
 4   ward_office_address     50 non-null     object
 5   ward_office_zip         50 non-null     object
 6   ward_email              45 non-null     object
 7   ward_office_phone       47 non-null     object
 8   ward_office_fax         22 non-null     object
 9   city_hall_office_room   50 non-null     int64
 10  city_hall_office_phone  38 non-null     object
 11  city_hall_office_fax    27 non-null     object
 12  Population              50 non-null     int64
dtypes: int64(3), object(10)
memory usage: 5.2+ KB

In [37]:
# striping the spaces as there are some uneven spaces in the Zip code values
ward_data["ward_office_zip"] = ward_data["ward_office_zip"].str.strip()

In [38]:
# converting the data type to int
ward_data["ward_office_zip"] = ward_data["ward_office_zip"].astype("int64")

In [39]:
ward_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ward_no                 50 non-null     int64
 1   alderman_first_name     50 non-null     object
 2   alderman_last_name      50 non-null     object
 3   alderman_name_suffix    50 non-null     object
 4   ward_office_address     50 non-null     object
 5   ward_office_zip         50 non-null     int64
 6   ward_email              45 non-null     object
 7   ward_office_phone       47 non-null     object
 8   ward_office_fax         22 non-null     object
 9   city_hall_office_room   50 non-null     int64
 10  city_hall_office_phone  38 non-null     object
 11  city_hall_office_fax    27 non-null     object
 12  Population              50 non-null     int64
dtypes: int64(4), object(9)
memory usage: 5.2+ KB

In [40]:
ward_data.to_csv('DMQL DATA/ward_data_cleaned.csv', index=False)